@model Pach_OS.Models.Compra

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">

        <div class="text-center col-sm-12">
            <h1 class="fw-bold" style="font-family:serif">COMPRAS</h1>
        </div>

        <a asp-area="" asp-action="Index" asp-controller="Compras" style="font-size: 20px" class="gap-3 d-md-flex justify-content-md-end mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
            </svg>
            Regresar
        </a>

    </div>


    <hr />

    <div class="row">

        <div class="col-md-4">

            <form asp-action="Create">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="IdCompras" class="control-label"></label>
                    <input asp-for="IdCompras" class="form-control" />
                    <span asp-validation-for="IdCompras" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="IdUsuario" class="control-label"></label>
                    <select asp-for="IdUsuario" class="form-control" asp-items="ViewBag.IdUsuario"></select>
                </div>

                <div class="form-group">
                    <label asp-for="FechaCompra" class="control-label"></label>
                    <input asp-for="FechaCompra" class="form-control" />
                    <span asp-validation-for="FechaCompra" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="IdProveedor" class="control-label"></label>
                    <select asp-for="IdProveedor" class="form-control" asp-items="ViewBag.IdProveedor"></select>
                </div>

                <p></p>
                <div class="form-group">
                    <input type="submit" value="Detalle" class="btn btn-primary" />
                </div>

            </form>

        </div>

    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
